UnityCaptureSample/.vs/
UnityCaptureSample/ProjectSettings/PresetManager.asset
UnityCaptureSample/Assets/UnityCapture/Plugins/x86/UnityCapturePlugin.pdb.meta
UnityCaptureSample/Assets/UnityCapture/Plugins/x86_64/UnityCapturePlugin.pdb
UnityCaptureSample/Assets/UnityCapture/Plugins/x86/UnityCapturePlugin.pdb
UnityCaptureSample/Assets/UnityCapture/Plugins/x86_64/UnityCapturePlugin.pdb.meta
